<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IITI Student Course Portal</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="static/Logo.png" alt="IIT Indore Logo" class="logo animate-drop">
            <h1 id="welcome-to-iit-indore-portal" class="animate-fade">Welcome to IIT Indore Student Course Portal</h1>
            <div class="button-container">
                <a href="http://localhost:5000/login" class="btn modern-btn" class="Hbutton">Login</a>
                <a href="http://localhost:5000/register" class="btn modern-btn" class="Hbutton">Register</a>
            </div>
        </div>
    </div>
</body>
</html>